<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <h2>ユーザー登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup-field" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "signup-field" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signup-field" %>
      </div>

      <div class="actions">
        <%= f.submit('ユーザー登録', class: "btn signup-btn mt-4") %>
      </div>

    <% end %>

      <div class="">
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>