<div class="row">
  <div class="col-sm-3 left-line">
    <%= render "devise/shared/back" %>
    <div class="side-bar">
      <%= render "devise/shared/side_links" %>
      <%= render "devise/shared/my_profile", current_user: @current_user %>
    </div>
  </div>
  <div class="col-sm-6 main py-4">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#follower">フォロワー</a>
      </li>
      <li class="nav-item">
        <a href="#following" class="nav-link" data-toggle="tab">フォロー中</a>
      </li>
      <li class="nav-item">
        <a href="#recommended" class="nav-link" data-toggle="tab">おすすめユーザー</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="follower">
        <% if @users.exists? %>
        <!--<#% binding.pry %>-->
          <%= render 'relationships/index', users: @users %>
        <% else %>
          <p class="mt-4">ユーザーはいません</p>
        <% end %>
      </div>
      <div class="tab-pane" id="following">
        <% if @followusers.exists? %>
          <%= render 'relationships/index', users: @followusers %>
        <% else %>
          <p class="mt-4">ユーザーはいません</p>
        <% end %>
      </div>
      <div class="tab-pane" id="recommended">
          <%= render 'relationships/latest_user', userall: @userall %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 right-bar">
    <h4 class="sub-title text-center py-1"><i class="fas fa-search pr-1"></i>ユーザー検索</h4>
    <%= render 'relationships/search', search: @search, searchusers: @searchusers %>
  </div>
</div>