<div class="row">
  <div class="col-sm-3 side-bar">
    <%= render "devise/shared/side_links" %>
  </div>
  <div class="col-sm-9 main">
    <div class="edit-profile">
    <%= form_with model:@user, url: user_path(@user), local:true do |f| %>
      <div class="field mt-3">
        <%= f.label :ニックネーム %><br/>
        <%= f.text_field :name, class: "edit-field" %>
      </div>
      <div class="field mt-3">
        <%= f.label :プロフィール画像 %><br/>
        <%= f.attachment_field :profile_image, class: "edit-field image-border" %>
      </div>
      <div class="field mt-3">
        <%= f.label :生年月日 %><br/>
        <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1997, 1, 1) %>
      </div>
      <div class="field mt-3">
        性別
        <div class="radio-inline">
          <%= f.radio_button :sex, :男性, checked: "checked" %>
          <%= f.label :男性, class: "job_type_label" %>
          <%= f.radio_button :sex, :女性 %>
          <%= f.label :女性, class: "job_type_label" %>
        </div>
      </div>

      <div class="field mt-3">
      スタイル
        <div class="radio-inline">
          <%= f.radio_button :style, :スノーボーダー, checked: "checked" %>
          <%= f.label :スノーボーダー %>
          <%= f.radio_button :style, :スキーヤー %>
          <%= f.label :スキーヤー, class: "job_type_label" %>
          <%= f.radio_button :style, :その他 %>
          <%= f.label :その他, class: "job_type_label" %>
        </div>
      </div>

      <div class="field mt-3">
        <%= f.label :自己紹介文 %><br/>
        <%= f.text_area :introduction , class: "edit-field", rows: 7 %>
      </div>
      <div>
        <%= f.submit '送信' %>
      </div>
    <% end %>
    </div>
  </div>
</div>