<div class="row">
  <div class="col-sm-3 line-left">
    <%= render "devise/shared/back" %>
    <div class="side-bar">
      <%= render "devise/shared/side_links" %>
    </div>
  </div>
  <div class="col-sm-9 main py-4">
    <div class="edit-profile">
    <h3 class="page-title text-center py-2"><i class="fas fa-user-cog"></i>プロフィール編集</h3>
    <%= form_with model:@user, url: user_path(@user), local:true do |f| %>
      <div class="field mt-3">
        <span class="font-weight-bold"><%= f.label :ニックネーム %></span><br/>
        <%= f.text_field :name, class: "edit-field" %>
      </div>
      <div class="field mt-3">
        <span class="font-weight-bold"><%= f.label :プロフィール画像 %></span><br/>
        <%= f.attachment_field :profile_image, class: "edit-field image-border" %>
      </div>
      <div class="field mt-3">
        <span class="font-weight-bold"><%= f.label :生年月日 %></span><br/>
        <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1997, 1, 1) %>
      </div>
      <div class="field mt-3">
        <span class="font-weight-bold">性別</span>
        <div class="radio-inline">
          <%= f.radio_button :sex, :男性, checked: "checked" %>
          <%= f.label :男性, class: "job_type_label" %>
          <%= f.radio_button :sex, :女性 %>
          <%= f.label :女性, class: "job_type_label" %>
        </div>
      </div>

      <div class="field mt-3">
      <span class="font-weight-bold">スタイル</span>
        <div class="radio-inline">
          <%= f.radio_button :style, :スノーボーダー, checked: "checked" %>
          <%= f.label :スノーボーダー %>
          <%= f.radio_button :style, :スキーヤー %>
          <%= f.label :スキーヤー, class: "job_type_label" %>
          <%= f.radio_button :style, :その他 %>
          <%= f.label :その他, class: "job_type_label" %>
        </div>
      </div>

      <div class="field mt-3">
       <span class="font-weight-bold"><%= f.label :自己紹介文 %></span><br/>
        <%= f.text_area :introduction , class: "edit-field", rows: 7 %>
      </div>
      <div class="filed mt-3 text-left">
        <%= f.submit '更新', class: "btn btn-primary event-filed" %>
      </div>
    <% end %>
    </div>
  </div>
</div>