<div class="row">
  <div class="col-sm-3 left-line">
    <%= render "devise/shared/back" %>
    <div class="side-bar">
      <%= render "devise/shared/side_links" %>
      <% unless current_user == @user %>
      <%= render "devise/shared/my_profile", current_user: @current_user %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6 py-4 main">
    <div class="profile-show">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: 'no_image.jpg', size: '100x100', format: 'jpeg', class: "rounded-circle" %>
      <span class="name ml-3 mt-2 user-show-name"><%= @user.name %></span>
      <span class="ml-3 font-s"><%= @user.birthday %>歳</span>
      <span class="ml-2 font-s"><%= @user.sex %></span>
    </div>

    <div class="follow-form">
    <% if current_user != @user %>

       <% if current_user.following?(@user) %>
        <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary mt-3" %>
      <% else %>
        <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-outline-success mt-3" %>
      <% end %>
    <%= render '/users/chat', user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>
      <% else %>
      <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-user-cog mt-3">プロフィール編集</i>
      <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
      <% end %>
    <% end %>
    </div>

    <hr>

    <div>
      <%= link_to user_followings_path(@user), class: "btn" do %>
        <span class="follow-text"><%= @user.followings.count %></span>
        <span class="follow-text">フォロー</span>
      <% end %>

      <%= link_to user_followers_path(@user), class: "btn" do  %>
        <span class="follow-text"><%= @user.followers.count %></span>
        <span class="follow-text">フォロワー</span>
      <% end %>
    </div>
    <hr>
      <h4 class="font-m font-weight-bold">スタイル</h4>
      <p class="ml-3"><%= @user.style %></p>
    <hr>
      <h4 class="font-m font-weight-bold">自己紹介</h4>
      <p class="ml-3"><%= @user.introduction %></p>
    <hr>
  </div>
  <div class="col-sm-3 right-bar">
    <h4 class="sub-title text-center py-1"><i class="fas fa-bullhorn"></i></i>投稿</h4>

    <%= render '/users/icons', posts: @posts %>
  </div>
</div>