<div class="row">
  <div class="col-sm-3 left-line">
    <div class="side-bar">
      <%= render "devise/shared/side_links" %>
      <%= render "devise/shared/my_profile", current_user: @current_user %>
    </div>
  </div>
  <div class="col-sm-9">
    <hr>
    <% @events.each do |event| %>
    <!--<#% binding.pry %>-->
      <div>
        <%= link_to event_path(event) do %>
          <i class="fas fa-snowman"></i>
          <span><%= event.title %></span>
        <% end %>
      </div>
      <div class="eventer-profile">
        <%= link_to user_path(event.user_id), class: "btn" do %>
            <%= attachment_image_tag event.user, :profile_image, size: "50x50", fallback: 'no_image.jpg', format: 'jpeg', class: "rounded-circle" %>
            <span class="eventer-name ml-3"><%= event.user.name %></span>
            <span class="eventer-sex ml-3 font-s"><%= event.user.sex %></span>
        <% end %>
      </div>
      <div class="mt-1 ml-3">
        <%= event.etd.strftime("%m月%d日(%a)") %>
      </div>
    <hr>
    <% end %>
  </div>
</div>