イベント作成
<%= form_with model: @event, local:true do |f| %>
  <div class="file">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="file">
    <%= f.label :詳細 %>
    <%= f.text_field :content %>
  </div>

  <div class="file">
    <%= f.label :出発予定日時 %>
    <%= f.datetime_field :etd %>
  </div>

  <div class="file">
    <%= f.label :帰宅予定日時 %>
    <%= f.datetime_field :eta %>
  </div>

  <div class="file">
    <%= f.label :申込締切 %>
    <%= f.datetime_field :preiod %>
  </div>

  <div class="file">
    <%= f.label :募集人数 %>
    <%= f.select :recruitment, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %>
  </div>

  <div class="file">
    <%= f.label :費用 %>
    <%= f.text_field :cost %>
  </div>

  <div class="file">
    <%= f.label :目的地 %>
    <%= f.text_field :destination %>
  </div>

   <div class="file">
    <%= f.submit '作成' %>
  </div>
<% end %>