<%= form_with model: post, local:true do |f| %>
  <div>
    <%= f.label :post_image do%>
    <i class="fas fa-camera"></i>
    <% end %>
  </div>
    <%= f.attachment_field :post_image, class: "image" %>
    <%= f.text_area :content, placeholder: "入力してください", class: 'content' %>
  <div>
    <%= f.submit('投稿', class: "btn btn-primary post-btn") %>
  </div>
<% end %>