<!-- モーダル -->
<div class="modal fade mt-5" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-0">
        <div>
          <%= link_to user_path(current_user), class: "btn left-btn" do %>
            <%= attachment_image_tag current_user, :profile_image, size: "50x50", fallback: 'no_image.jpg', format: 'jpeg',  class: "rounded-circle" %>
            <span><%= current_user.name %></span>
          <% end %>
        </div>
        <button type="button" class="close py-4" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: post, remote: true do |f| %>
      <div class="modal-body">
        <%= render "layouts/errors", model: post %>
        <%= f.text_area :content, placeholder: "今何してる？", class: "textarea" %>
      </div>
      <div class="modal-footer">
        <%= f.label :post_image, class: "image-camera" do %>
        <i class="far fa-image mr-3"></i>
        <%= f.attachment_field :post_image %>
        <% end %>
        <%= f.submit('投稿', class: "btn  btn-outline-primary post-btn rounded-pill") %>
      </div>
      <% end %>
    </div>
  </div>
</div>