<% post.post_comments.reverse.each do |post_comment| %>
  <div class="post-comment-index_<%= post_comment.id %>">
    <div class="commenter-profile">
      <%= link_to user_path(post_comment.user.id), class: "btn left-btn" do %>
        <%= attachment_image_tag post_comment.user, :profile_image, size: "50x50", fallback: 'no_image.jpg', format: 'jpeg', class: "rounded-circle" %>
        <span class="commenter-name-position"><%= post_comment.user.name %></span>
      <% end %>
    </div>
    <div>
      <div id="post-comment-form">
        <p class="text-center mt-3"><%= attachment_image_tag post_comment, :image, size: "250", format: 'jpeg', class: "img img-fluid" %></p>
        <p><%= post_comment.content %></p>
      </div>
      <% if post_comment.user == current_user %>
      <div>
        <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  <hr>
  </div>
<% end %>