<div class="row">
  <div class="col-sm-3 left-line">
    <%= render "devise/shared/back" %>
    <div class="side-bar">
      <%= render "devise/shared/side_links" %>
      <%= render "devise/shared/my_profile", current_user: @current_user %>
    </div>
  </div>
  <div class="col-sm-9 main py-4">
    <h3 class="page-title text-center py-2"><i class="fas fa-home"></i>ホーム</h3>
    <span class="font-s flash-error"><%= flash[:alert] %></span>
      <!--投稿フォーム-->
    <%= render '/posts/form', post: @post %>
    <div class="posts">
      <!--投稿一覧-->
        <% @posts.each do |post| %>
          <div class="post-index_<%= post.id %>">
            <!--<#%= render 'posts/index', post: post %>-->
            <div class="profile-index mb-3">
              <%= render 'posts/profile', post: post %>
            </div>
            <!--投稿画像と内容-->
            <div class="post-contents-index">
            	<%= render 'posts/contents', post: post %>
            </div>
            <!--あいこんぼたん-->
            <div>
              <span id="bottons_<%= post.id %>"><%= render 'layouts/favorites_icon', post: post %></span>
              <span id="bottons_<%= post.id %>"><%= render 'layouts/comments_icon', post: post %></span>
              <span id="bottons_<%= post.id %>"><%= render 'layouts/delete_icon', post: post %></span>
            </div>
  <hr>
          </div>
        <% end %>
    </div>
  </div>
</div>


