<div class="side-bar">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to 'マイページ', user_path(current_user) %>
  イベント作成
  投稿フォーム
</div>


<div class="main">

  <div class="">
    <%= form_with model:@post, local:true do |f| %>
      <%= f.label :post_image do%>
      <i class="fas fa-camera"></i>
      <% end %>
      <%= f.attachment_field :post_image, class: "image" %>

      <%= f.text_area :content %>
      <%= f.submit '投稿する' %>
    <% end %>
  </div>

  <div class="">
    <h1>最新の投稿</h1>
      <%= render '/posts/index', posts: @posts %>
  </div>
</div>




