<div class="side-bar">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to 'マイページ', user_path(current_user) %>
  <%= link_to 'イベント作成', new_event_path %>
  <%= link_to 'イベント一覧', events_path %>

  <%= link_to 'DM一覧', rooms_path %>
</div>


<div class="main">

  <div class="">
    <!--投稿フォーム-->
    <%= render '/posts/form', post: @post %>
  </div>

  <div class="">
    <h1>最新の投稿</h1>
    <!--投稿一覧-->
      <%= render '/posts/index', posts: @posts %>
  </div>
</div>




